.title {
    text-align: center;
}

.type-box *:not(:first-child) {
    display: none;
}

#toleft {
    display: flex;
    justify-content: flex-start;
}

#tocenter {
    display: flex;
    justify-content: center;
}

#toright {
    display: flex;
    justify-content: flex-end;
}

.type-box {
    font-size: 20pt;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
    margin-bottom: 50px;
}

.cor1 {
    color: red;
}

.cor2 {
    color: blue;
}

/* Github Corner */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}